h1 {
text-transform: uppercase;
letter-spacing: 3px;
}
h2 {
  text-transform: lowercase;
  text-decoration: line-through;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
p.pequeño {
  font-size: smaller;
}
